
{% extends 'base.html' %}

{% block title %}
  Welcome to the Most Awesome Ecommerce Site Ever
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to KEEMs GADGET HUB</h1>
    <p>We're your one-stop shop. you're looking for the latest tech gadgets, unique gifts and accessories, or just something fun to add to your collection, we've got you covered.</p>
    <p>Start shopping now and see what all the fuss is about!</p>
    <a href="{% url 'index' %}" class="btn btn-primary btn-lg" role="button">Shop Now</a>
  </div>

 
     
    </div>
  </div>
{% endblock %}